# Ignore IntelliJ IDEA project files
*.iml
.idea/

# Ignore build output
/build/
/out/

# Ignore Gradle files
.gradle/
/*.gradle

# Ignore log files
*.log

# Ignore vcs and deploymentTargetSelector
vcs/
deploymentTargetSelector